.poolRow {
    padding: 20px 0px;
  background: linear-gradient(139.73deg, #313d5c, #3d2a54);
}
.pool-heading {
  font-size: 64px;
  font-weight: 600;
  line-height: 1.1;
  color: #9a6aff;
}
.pool-sub-heading{
    font-weight: 700;
    font-family: 'Kanit', sans-serif;
}