body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #27262c !important;
  color: #f4eeff !important;
}
*{
  font-family: 'Kanit', sans-serif;

}


.bgColor{
  background-color: #27262c !important;

}
